@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

:root{
    --first-font: 'Nunito', sans-serif;
    --second-font: 'Urbanist', sans-serif;
    --secondary-color: rgb(145, 238, 145);
    --first-color: rgb(79, 238, 79);
}

ul li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}
